{% comment %}

    For image items, a zoomable, full screen gallery view is added using Spotlight gallery.
    Ensure dependencies are added by including `gallery: true` in the layout front matter calling this include.

{%- endcomment -%}
<a class="spotlight gallery-img" data-download="true" title="{{ item.title | escape }}" href="{{ item.object_location | relative_url }}">
    <img src="{{ item.image_small | relative_url }}" alt="{{ item.image_alt_text | default: item.description | default: item.title | escape }}" class="img-fluid">
    <div><small class="text-dark">Click to view full screen</small></div>
</a>
